@model LearnXPO.Models.CustomerVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2 style="text-align:center">Detail Customer</h2>
    OID: @Model.OID <br/>
    Name: @Model.Name <br/>
    Age: @Model.Age 
</body>
</html>
